## Exercise1:Create a jupyter Notebook DataScienceEcosystem.ipynb

## Exercise 2: Create markdown cell with the title of the notebook

# Data Science Tools and Ecosystem

## Exercise 3 : Create a markdown cell for an introduction.

# In this notebook ,Data Science Tools and Ecosystem are summerized.

## Exercise 4 : Create a markdown cell to list data science languages

<h1>Some of the popular languages that Data Scientist use are:</h1>
<ol>
<li>Python</li>
<li>R Language</li>
<li>SQL</li>
<li>Java</li>
<li>Julia</li>
</ol>

## Exercise 5 :Create a markdown cell to the list Data Science Libraries.

### Some of the commonly used libraries used by Data Scientist inculde:
<ul>
<li>Numpy</li>
<li>Pandas</li>
<li>Matplotlib</li>
<li>TensorFlow</li>
<li>SciPy</li>
</ul>

## Exercise 6 : Create a markdown cell with a table of data science tools

|**Data Science Tools**|
|:----------------|
|1.SAS. It is one of those data science tools which are specially designed for statistical operation.|   
|2.Apache Spark    |
|3.Big Ml          |

## Exercise 7 : Create a markdown cell introducing arithmetic expression example

### Below are a few examples of evaluating arithemetic expressions in python.

In [1]:
(3+4)

7

In [1]:
(34+20)

54

## Exercise 8 :Create a code cell to multiply and add numbers

### This a simple arithmetic expression to multiply then add integers

In [4]:
(3*4)+5

17

## Exercise 9:Create a code to convert minutes to hours

### This will convert 200 minutes to hour by diving by 60.

In [17]:
min = 200 
h = min//60
m = min%60

In [18]:
print("Hours=",h)
print("minutes=",m)

Hours= 3
minutes= 20

## Exercise 10 : Insert a markdown cell to list the objective

## **Objectives :** List the popular languages for Data Science.

<ul>
<li>Python</li>
<li>R language</li>
<li> SQL </li>
</ul>

## Exercise 11 : Create a markdown cell to indicate the Author's name

## Author

Bhagyashree Mahajan